<form id="user-data">
  <p>
    <label for="name">Name:</label>
    <Input @type="text" @value="{{this.card.data.name}}" name="name" id="name" {{on "keyup" this.update}}/>
  </p>

  <p>
    <label for="Fedi-id">Fedi ID:</label>
    @<Input @type="text" @value="{{this.card.data.fedi.username}}" name="fedi.username" id="Fedi-username" {{on "keyup" this.update}}/>
    @<Input @type="text" @value="{{this.card.data.fedi.instance}}" name="fedi.instance" id="Fedi-instance" {{on "keyup" this.update}}/>
  </p>

  <p>
    <label for="Fedi-id">Date of Birth (yyyy-m-d): </label>
    <Input @type="number" @value="{{this.card.data.dob.year}}" name="dob.year" id="dob.year" {{on "change" this.update}}/>
    -
    <Input @type="number" @value="{{this.card.data.dob.month}}" name="dob.month" id="dob.month" {{on "change" this.update}}/>
    -
    <Input @type="number" @value="{{this.card.data.dob.day}}" name="dob.day" id="dob.day" {{on "change" this.update}}/>
  </p>

  <p>
    <label for="flexitem-header">Flex Item Header:</label>
    <Input @type="text" @value="{{this.card.data.flexitem.header}}" name="flexitem.header" id="flexitem-header" {{on "keyup" this.update}}/>
    <br />
    <label for="flexitem-value">Flex Item Value:</label>
    <Input @type="text" @value="{{this.card.data.flexitem.value}}" name="flexitem.value" id="flexitem-value" {{on "keyup" this.update}}/>
  </p>

  <p>
    <label for="pronoun">Pronouns:</label>
    <Input @type="text" @value="He" name="pronoun.singular" id="pronoun.singular" {{on "keyup" this.update}}/>
    /
    <Input @type="text" @value="Him" name="pronoun.plural" id="pronoun.plural" {{on "keyup" this.update}}/>
  </p>

  <p>
    <label for="image">Image</label>
    <Input @type="file" accept="image/*" {{on "change" this.image}}/>
  </p>

  <p>
    <label for="background-color">Background Color</label>
    <Input @type="text" @value="{{this.card.data.colors.background}}" name="colors.background" id="background-color" {{on "keyup" this.update}}/>
    <br />
    <label for="foreground-color">Foreground Color</label>
    <Input @type="text" @value="{{this.card.data.colors.foreground}}" name="colors.foreground" id="foreground-color" {{on "keyup" this.update}}/>
    <br />
    <label for="variables-color">Value Color</label>
    <Input @type="text" @value="{{this.card.data.colors.variables}}" name="colors.variables" id="variables-color" {{on "keyup" this.update}}/>
  </p>

  <p>
    <label for="variables-color">Document Number</label>
    <Input @type="text" @value="{{this.card.data.id}}" name="id" id="id" disabled/>
    <button {{on "click" this.newId}}>Generate</button>
  </p>
</form>

<button {{on "click" this.export}}>Export!</button>