<p>
  <div style="width: 50%; float: left;">
    <div>
      <InputForm />
    </div>
    <div style="height: 50vh; left: 10px; float: left; margin-top: 10px;">
      <Card />
    </div>
  </div>
  <div style="width: 50%; float: left;">
    This project was just made for-fun in my free time and obviously holds no real legal beyond it.<br >
    If you'd like to see the source-code or help me out or whatever, feel free to check out <a href="https://gitlab.com/FinlayDaG33k/fedi-horny-license" rel="noopener" target="_blank">the repo</a>.<br />
    Please, do give me a follow on <a href="https://social.linux.pizza/web/@finlaydag33k" rel="noopener" target="_blank">Mastodon</a>.<br/>
    Or if you'd like to buy me some more Mountain Dew, you can send me a donation on <a href="https://www.paypal.com/paypalme/finlaydag33k" rel="noopener" target="_blank">GayPal</a> :)
  </div>
</p>

